### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pics directory

pics/

results/

.vscode/

aj.C
.vscode/settings.json
implantdecay.root
out2.root
timing_and_position_implant_decay.root
timing_only_implantdecay.root
out2.root
.vscode/settings.json
bplastaida.root
fast_slow_all.root
implantdecay_166Tb_prop.root
implantdecay_background.root
noclust_0412_largerun.root
noclust_onspill.root
noclustoffpsill.root
outbgamg_1811.root
outclust_0312late.root
rates_position_gated.root
outbgamg_1811.root
triples_2us.root
triples.root
weow.root
outbgamg_1811.root
noclust.root
